<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="edit">
    <meta name="author" content="Madam Baker">
    <title>Редактор</title>
    <script src="https://use.fontawesome.com/67dbbcf5bb.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
     <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-gradient-info">
    <div class="container">
     <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">

                <div class="row">
                <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Редактировать</h1>
                            </div>
        <form class="login_form" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(class="form-control", value=item.title) }}<br>
                <p>
                    {{ form.content.label }}<br>
<!--                    {{ form.content(class="form-control", width="1000px", col="10", default=item.about) }}<br>-->
                    <textarea class="form-control" name="about_value" >{{ item.about }}</textarea>
                </p>
                {% for error in form.title.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
               <p><select class="form-select" size="1" name="status_select" aria-label="Выберите подпись" required>
                <option selected value disabled>Выберите подпись</option>
                   <option value="Пусто">Пусто</option>
                <option value="Хит">Хит</option>
                <option value="Новинка">Новинка</option>
               </select></p>

            {% for error in form.submit.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <div class="mb-3">

  <label for="file-input" class="form-control-file form-label">Приложите фотографию</label>
  <input class="form-control" accept="image/*" type="file" id="file_input" name="file" required>


                <div class="d-flex align-items-stretch " style="margin-top: 30px;">
                <div class="card  mb-4 ">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-info">Превью картинки</h6>
                                </div>
                                <div class="card-body">
                                   <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="../static/img/pre.png" id="pic" alt="...">
                    </div>
                                </div>
                            </div>
                </div>

</div>
            <button type="submit" class="btn btn-warning btn-icon-split">
                                            <i class="fa-solid fa-pencil"></i>
                                        <span class="text">Редактировать</span></button>
        </form>
    </div>
                </div>
            </div>
     </div>
    </div>
<script>
                    file_input.onchange = evt => {
  const [file] = file_input.files
  if (file) {
   pic.src = URL.createObjectURL(file)
  }
}
                </script>
</body>
</html>